body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding-left: 0;
    li {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}

.bg-yellow {
    background-color: #fff2fc;
}

.inner {
    padding: 128px 104px;
    display: flex;
    align-items: center;
}

.section-title {
    font-size: 32px;
    font-weight: bold;
}

header {
    padding-block: 48px;
    display: grid;
    place-items: center;

 h1 {
     text-align: center;

     img {
        width: 400px;
     }
    }

 nav {
        ul {
         display: flex;
         justify-content: center;
         gap: 20px;

         li {
             font-weight: bold;

             a {
                position: relative;
                display: inline-block;
                 &:link span {
                    color: #ffffff;
                 }
                 &:visited span {
                    color: #f387bf;
                 }
                 &:hover span {
                    color: #ff9cca;
                 }
                 &:active span {
                    color: #CC3AC3;
                 }
                }
             img {
                width: 80px;
                height: 80px;
                }
                span {
                    position: absolute;
                    top: 45%;
                    left: 50%;
                    transform: translate(-50%, -50%);

                    font-weight: bold;
                }
            }
        }
    }
}

main {
    .about {
       background-color: #fff2fc;
       background-image: url(img/image-4.jpg);
       background-size: 100%;
       background-position: center 25%;
       background-repeat: no-repeat;

       padding-block: 120px;

       display: grid;
       place-items: center;

       position: relative;
       overflow: visible;
    }

    .about::before {
    content: "";

    position: absolute;
    top: -40px;
    left: 0;

    width: 100%;
    height: 100px;

    background-image: url(img/line01.png);
    background-repeat: repeat-x;
    background-size: auto 100%;

    z-index: 10;
 }

   .about::after {
    content: "";

    position: absolute;
    bottom: -30px;
    left: 0;

    width: 100%;
    height: 100px;

    background-image: url(img/line01.png);
    background-repeat: repeat-x;
    background-size: auto 100%;

    z-index: 10;
    }

    .box {
            background-color: rgb(255, 255, 255, 0.7);
            padding: 48px;
            text-align: center;

            h2 {
                text-align: center;
                margin-bottom: 16px;
                color: #ffffff;
                text-shadow:
                   0 0 5px #fff,
                   0 0 10px #ff8ad8,
                   0 0 20px #ff8ad8;
            }

            p {
                line-height: 2;
                font-size: 15px;
                font-weight: 600;
                color: #ff9cca;
                text-shadow:
                1px 1px 0 #ffffff,
                -1px 1px 0 #ffffff,
                1px -1px 0 #ffffff,
                -1px -1px 0 #ffffff;
            
            }
        }
}

.profile {

    .section-title {
        margin-right: 120px;
        color: #ffffff;
         text-shadow:
                   0 0 5px #fff,
                   0 0 10px #ff8ad8,
                   0 0 20px #ff8ad8;
    }

    .profile-box {
        display: flex;
        align-items: center;
    }
    img {
        margin-right: 64px;
        width: 200px;
    }

    .text-box {
        width: 640px;
        h3 {
            font-size: 20px;
            color: #919191;
        }
        hr {
             border: none;
             height: 2px;
            background-color: white;
        }
        p {
            color: #919191;
            font-size: 15px;
             
        }
    }
}

.works {
     position: relative;

     &::before {
        content: "";

        position: absolute;
        top: -70px;
        left: 0;

        width: 100%;
        height: 150px;

        background-image: url(img/line03.png);

        background-repeat: repeat-x;

        background-size: auto 100%;

        z-index: 10;
     }

    .section-title {
        margin-right: 120px;
         color: #ffffff;
         text-shadow:
                   0 0 5px #fff,
                   0 0 10px #ff8ad8,
                   0 0 20px #ff8ad8;
    }
    .grid {
        width: 890px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 60px;
    }
    img {
        margin-bottom: 24px;
    }
    h3 {
        font-size: 22px;
        margin-bottom: 24px;
        color: #ff9cca;
    }
    p {
        font-size: 16px;
        color: #919191;
    }
}

.news {

    position: relative;

     &::before {
        content: "";

        position: absolute;
        top: -50px;
        left: 0;

        width: 100%;
        height: 100px;

        background-image: url(img/line01.png);

        background-repeat: repeat-x;

        background-size: auto 100%;

        z-index: 10;
     }

    .section-title {
        margin-right: 120px;
         color: #ffffff;
         text-shadow:
                   0 0 5px #fff,
                   0 0 10px #ff8ad8,
                   0 0 20px #ff8ad8;
    }

 dl {
     display: grid;
     grid-template-columns: auto 1fr;
     column-gap: 24px;
     row-gap: 12px;
     align-items: start;
    }

 dt { font-size: 24px;
     font-weight: bold;
    }
 dd { margin: 0;
     line-height: 1.6;
     color: #919191;
    }
 li {
     line-height: 1.6;
    }
 dl {
     display: flex;
     align-items: center;
    }
 time {
      font-size: 22px;
      font-weight: bold;
      color: #ff9cca;
      margin-right: 24px;
    }
}

.contact {
    position: relative;

     &::before {
        content: "";

        position: absolute;
        top: -30px;
        left: 0;

        width: 100%;
        height: 60px;

        background-image: url(img/line04.png);

        background-repeat: repeat-x;

        background-size: auto 100%;

        z-index: 10;
     }
    .section-title {
        margin-right: 100px;
         color: #ffffff;
         text-shadow:
                   0 0 5px #fff,
                   0 0 10px #ff8ad8,
                   0 0 20px #ff8ad8;
    }
    .contact-box {
      p {
            margin-bottom: 70px;
            color: #919191;

        }
    }

    form {
        width: 600px;
        display: grid;
        gap: 32px;

        .flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        label {
            width: 140px;
            text-align: right;
            color: #919191;
        }

        input,
        textarea {
            width: 450px;
            padding: 16px;
            border-radius: 8px;
            border: 1px solid #ABABAB;

            &::placeholder {
              color: #B5B5B5;
            }
        }

        textarea {
            height: 120px;
        }

        button {
            width: 230px;
            padding: 16px;
            border-radius: 8px;
            border: 1px solid #ABABAB;
            margin-inline: auto;
        }
    }    
}

footer {
    width: 100%;
    height: 395px;
    padding-block: 16px;
    background: url(img/fooder.jpg) no-repeat center/cover rgb(255, 227, 247);
    display: flex;
    justify-content: end;
    flex-direction: column;
    color: white;

    p {
        text-align: center;
        margin-bottom: 8px;
    }

    .copyright {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {

    body {
     overflow-x: hidden;
    }
    
  .inner {
    padding: 90px 20px;
    flex-direction: column;
  }

  .about {
    padding-block: 120px;
  }

  .profile .text-box {
    width: 100%;
  }

  .profile-box {
    flex-direction: column;
}

  .works .grid {
    width: 100%;
    grid-template-columns: 1fr;
  }

  

   .profile .section-title,
  .works .section-title,
  .news .section-title,
  .contact .section-title {
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }

}
